*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
	text-align: center;
}
a{
	text-decoration: none;
	color: #333;
}
/*头部*/
header{
	height: 80px;
	position: relative;
	/*border-bottom: 1px solid#333333;*/
}
/*头部共享样式*/
header div{
	position: absolute;
	top:50%;
	transform: translate(0px,-50%);
}
header>div>span a{
	color: #3563D5;
	background-color: #e3f3fe;
	padding: 5px 13px;
	border-radius: 25px;
	
}
/*头部logo图片*/
header>.header_logo{
	left: 45px;
}
header>.header_logo>h1>a>img{
	width: 122px;
	height: 33px;
}
/*头部导航栏*/
header>.header_nav{
	left: 167px;
}
header>.header_nav>ul>li>a:hover{
	color: lightskyblue;
}
header>.header_nav>ul>li{
	float: left;
	padding:0px  15px;
}
header>.header_nav>ul>li>a{
	font-size: 18px;
}
/*头部二级导航*/
header>.header_subnav{
	left: 972px;
}
header>.header_subnav>span>a{
	width: 20px;
	height: 20;
}
/*header>#iii{
	width: 1240px;
	height: 482px;
	background-color: blue;
	position: absolute;
	bottom: 1000px ;
	left: 100px;
	/*display: inline-block;
}*/

/*头部二级导航登录条*/
header>.header_loginbar{
	right: 40px;
}

/*主体内容*/
section{
	height: 3000px;
	position: relative;
	border-top: 1px solid gainsboro;
}
/*主体内容导航栏*/
section>.section_nav{
	position: absolute;
	top: 50px;
	left: 108px;
}


section>.section_nav>ul>li>a:hover{
	color: lightskyblue;
}
section>.section_nav>ul>li{
	border: 1px solid #f0f0f0;
	padding: 20px 40px;
}
section>.section_nav>ul>li>a{
	font-size: 16px;
}
/*主体内容标题*/
section>.section_title{
	width: 670px;
	text-align: center;
	position: absolute;
	top: 60px;
	left: 285px;
}
/*主体内容新闻*/
section>.secion_content{
	width: 670px;
	/*height: 800px;*/
	position: absolute;
	top: 108px;
	left: 285px;
}
section>.secion_content>.secion_content_Picture{
	border-bottom: 1px solid gainsboro;
	padding: 20px 3px;
	position: relative;
}
section>.secion_content>.secion_content_Picture>div>img{
	width: 252px;
	height: 130px;
	
}

section>.secion_content>.secion_content_Picture>.header_subnav_cover_ti>span{
	position: absolute;
	top: 25px;
	left: 272px;
	font-size: 20px;
}
section>.secion_content>.secion_content_Picture>.header_subnav_cover_in{
	position: absolute;
	bottom: 25px;
	left: 272px;
	width: 383px;
	font-size: 12px;
}
/*共享*/
section>.secion_content>.secion_content_Picture>.header_subnav_cover_in>span>a{
		color: #666666;
}
section>.secion_content>.secion_content_Picture>.header_subnav_cover_in>.header_subnav_cover_in_left{
	float: left;
	margin-right: 10px;
	color: #666666;
}
section>.secion_content>.secion_content_Picture>.header_subnav_cover_in>.header_subnav_cover_in_right>a:hover{
	color: dodgerblue;
}
section>.secion_content>.secion_content_Picture>.header_subnav_cover_in>.header_subnav_cover_in_right{
	float: right;
	margin-left: 10px;
}
#p{
	width: 669px;
	background-color: #f0f0f0;
    text-align: center;
    padding: 5px;
}


/*底部*/
footer{
	height: 228px;
}

footer>.footer_top>p{
	text-align: center;
	padding: 10px 0px;
	
}
footer>.footer_top>p>span{
	border-left: 1px solid black;
	padding-left: 3px;
	font-size: 12px;
}
footer>.footer_bottom{
	width:552px;
	background: black;
	position: relative;
	left: 380px;
	top:27px;
}
footer>.footer_bottom>.footer_bottom_Reporting{
	width: 115px;
	height: 52px;
	border: 1px solid gainsboro;
	padding: 1px 5px;
	position: absolute;
	top: 0px;
	left: 20px;
}
footer>.footer_bottom>.footer_bottom_Reporting>span>a>img{
	float: left;
	height: 44px;
	width: 44px;
}
footer>.footer_bottom>.footer_bottom_Reporting>span>a{
	font-size: 12px;
}










